@tailwind base;
@tailwind components;
@tailwind utilities;

/* added for blockContent */
h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: large;
}
/* other tags */
a {
  color: blue;
  text-decoration: underline;
}
ul {
  list-style-type: square;
  list-style-position: inside;
}
blockquote {
  border-left: 5px gray solid;
  padding-left: 1rem;
  font-style: italic;
}
code {
  background-color: #52bad4;
  color: white;
}
